<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Breakout JS</title>

	</head>
	
	<body>
		<div id="menuInicio">
			<div id="newGame" class="box" onclick="iniciar()"><img id="img" onmouseover="play1()"   onmouseout="play2()" src="../../../assets/img/playOpacity.png" alt="" ></div>

			<div id="home" class="box" onclick="home()"><img id="img2" onmouseover="back1()" onmouseout="back2()"src="../../../assets/img/backOpacity.png" alt=""></div>
			
			<div id="oops" class="box">
				<img src="../../../assets/img/oops2.png" alt="">
			</div>
		</div>

		<div id="canvas">
			<canvas id="gameCanvas" width="700" height="640"></canvas>	
		</div>


	</body>
	
	
</html>





